{
  "plugins": {
    "authorization": {
      "plugin": "mesosphere.marathon.plugin.auth.Authorizer",
      "implementation": "mesosphere.marathon.example.plugin.auth.ExampleAuthorizer"
    },
    "authentication": {
      "plugin": "mesosphere.marathon.plugin.auth.Authenticator",
      "implementation": "mesosphere.marathon.example.plugin.auth.ExampleAuthenticator",
      "configuration": {
        "users": [
        {% for user in marathon_users %}
          {
            "user": "{{ user['name'] }}",
            "password": "{{ user['secret'] }}",
            "permissions": [
              {% for acl in user['acls'] %}
              {% for a in acl %}
              {% for on in acl[a] %}
              {"allowed": "{{ a }}", "on": "{{ on }}"}{% if not loop.last %},{% endif %}
              {% endfor %} 
              {% endfor %}
              {% if not loop.last %},{% endif %}
              {% endfor %}
            ]
          }{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
      }
    }
  }
}