config setup
  charondebug="ike 1, knl 1, cfg 0"
  uniqueids=no

conn %default
  ikelifetime=60m
  keylife=20m
  rekeymargin=3m
  keyingtries=%forever
  #mobike=no
  rekey=no
  type=tunnel
  keyexchange=ikev2
  fragmentation=yes
  forceencaps=yes
  dpdaction=clear
  dpddelay=180s
  left=%any
  leftid=@{{ipsec_fqdn}}
  leftcert=/etc/ipsec.d/certs/{{ipsec_fqdn}}.pem
  leftsendcert=always
  rightdns={{internal_ip}}
  rightsendcert=never
  eap_identity=%identity
  right=%any
  rightid=%any
  compress=yes
  ike=aes256gcm16-sha256-ecp521,aes256-sha256-ecp384!
  esp=aes256gcm16-sha256!
  leftsubnet=10.{{lan_id}}.0.0/24,10.{{vlan_id}}.0.0/16
  auto=add
  rightauth=eap-radius

include /etc/ipsec.conn.d/*.conf
