{
  "auths": {
    "arte03.vixns.net:5000": {
      "auth": "cmVnaXN0cnk6cXVGY1c0WEhLYUZWdk5w",
      "email": "noc@vixns.net"
    },
    "registry.asl.vixns.net:443": {
      "auth": "cmVnaXN0cnk6MTAzQjRFQjUtNjJDRi00MDgyLTkxMkYtQjY2RTIxMkUwMjE4"
    }
  }
}