#!/bin/bash
exec 1> >(exec logger -p user.info -t "$(basename $(pwd))[$(cat $(pwd)/supervise/pid)]")
exec 2> >(exec logger -p user.err -t "$(basename $(pwd))[$(cat $(pwd)/supervise/pid)]")
exec /opt/mesos-exporter -ignoreCompletedFrameworkTasks -slave="http://{{external_ip | default(internal_ip)}}:5051" -addr="{{external_ip | default(internal_ip)}}:9110"