#!/bin/sh

function setrule {
  OLDRULE=$(iptables -n -t nat --line-numbers -L proxy | grep "tcp dpt:${1}" | awk '{print $1}')
  if [ -z "$OLDRULE" ]
  then
    iptables -t nat -A proxy -p tcp -m tcp --dport $1 -j DNAT --to-destination $PROXY_IP:$1
  else
    iptables -t nat -R proxy $OLDRULE -p tcp -m tcp --dport $1 -j DNAT --to-destination $PROXY_IP:$1
  fi
}

IFS=$'
'
dn="_proxy-internal._tcp.marathon.{{mesos_domain}}"
for entry in $(dig +short srv $dn | awk '{print $NF}')
do
  PROXY_IP=$(dig srv +noanswer $dn | grep "$entry" | awk '{print $NF}')
  calicoctl get --output custom-columns=NETWORKS -n $(hostname) workloadEndpoint | grep -q $PROXY_IP
  [ "$?" -ne "0" ] || break
done


iptables -w -t nat --list proxy 2>&1 > /dev/null
if [ $? -ne 0 ]; then
  iptables -w -t nat -N proxy
  iptables -w -t nat -A PREROUTING -m addrtype --dst-type LOCAL -j proxy
  iptables -w -t nat -A OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j proxy
fi

setrule 80
setrule 443
