{
  "credentials": [
  {% for fw in mesos_credentials %}
    {
      "principal": "{{ fw['name'] }}",
      "secret": "{{ fw['secret'] }}"
    }{% if not loop.last %},{% endif %}
  {% endfor %}

  ]
}