#!/bin/bash
exec 1> >(exec logger -p user.info -t "$(basename $(pwd))[$(cat $(pwd)/supervise/pid)]")
exec 2> >(exec logger -p user.err -t "$(basename $(pwd))[$(cat $(pwd)/supervise/pid)]")
export IP="{{internal_ip}}"
export HOSTNAME="{{ansible_hostname}}"
mkdir -p /run/bird
exec /usr/bin/bird6 -R -s /run/bird/bird6.ctl -d -c /etc/calico/confd/config/bird6.cfg