#!/bin/bash
exec 1> >(exec logger -p user.info -t "$(basename $(pwd))[$(cat $(pwd)/supervise/pid)]")
exec 2> >(exec logger -p user.err -t "$(basename $(pwd))[$(cat $(pwd)/supervise/pid)]")
export IP="{{internal_ip}}"
{% if etcd_tls_clients %}
export ETCD_KEY_FILE=/etc/etcd/client.key
export ETCD_CERT_FILE=/etc/etcd/client.crt
export ETCD_CA_CERT_FILE=/etc/etcd/ca.crt
export FELIX_ETCDCAFILE=$ETCD_CA_CERT_FILE
export FELIX_ETCDKEYFILE=$ETCD_KEY_FILE
export FELIX_ETCDCERTFILE=$ETCD_CERT_FILE
{% endif %}
export ETCD_AUTHORITY="{% for host in groups['masters'] %}http{% if etcd_tls_clients %}s{% endif %}://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %}"
export FELIX_ETCDENDPOINTS="$ETCD_AUTHORITY"
export FELIX_FAILSAFEINBOUNDHOSTPORTS="22,2222"
exec /opt/calico-felix/calico-felix