#!/bin/sh
ETCD_KEY_FILE=/etc/etcd/client.key \
ETCD_CERT_FILE=/etc/etcd/client.crt \
ETCD_CA_CERT_FILE=/etc/etcd/ca.crt \
ETCD_ENDPOINTS="{% for host in groups['masters'] %}http{% if etcd_tls_clients %}s{% endif %}://{% if etcd_tls_clients %}{{ hostvars[host].inventory_hostname }}{% else %}{{ hostvars[host].internal_fqdn }}{% endif %}:2379{% if not loop.last %},{% endif %}{% endfor %}" \
/usr/bin/calicoctl.bin $@