#!/bin/sh

if [ -z "$1" ]; then
  echo "Usage: $0 domain [domain] [domain] ..."
  exit 1
fi
domain=$1
shift
sans="$(echo "$*" | tr ' ' ',')"

mesos-execute \
--master=leader.{% if consul_domain is defined %}mesos.service.{% endif %}{{consul_domain | default(mesos_domain)}}:5050 \
--name=acme \
--networks=vlan \
--docker_image=vixns/getssl \
--resources="cpus:0.01;mem:32" \
--principal=acme \
--secret=A56BCA3C-256D-49BF-BAF7-925AE175885D \
--volumes="[{\"container_path\":\"/.well-known/acme-challenge\",\"mode\":\"RW\",\"source\":{\"docker_volume\":{\"driver\":\"nfs\",\"driver_options\":{\"parameter\":[{\"key\":\"share\",\"value\":\"{{nas_prefix}}/config/haproxy/challenges\"}]},\"name\":\"acmechallenges\"},\"type\":\"DOCKER_VOLUME\"}},{\"container_path\":\"/etc/acme\",\"mode\":\"RW\",\"source\":{\"docker_volume\":{\"driver\":\"nfs\",\"driver_options\":{\"parameter\":[{\"key\":\"share\",\"value\":\"{{nas_prefix}}/config/acme\"}]},\"name\":\"acmecerts\"},\"type\":\"DOCKER_VOLUME\"}}]" \
--command="mkdir -p /etc/acme/${domain}; printf 'DOMAIN_PEM_LOCATION=\"/etc/acme/full/%s.pem\"\nSANS=\"%s\"\n' \"${domain}\" \"${sans}\" > /etc/acme/${domain}/getssl.cfg"